{% block sidebar %}

    <style>
            .card{
            box-shadow: 0 16px 48px #E3E7EB;
            }

    </style>

    <!-- Sidebar Widgets Column -->
    <div class="col-md-4 float-right ">
    <div class="card my-4">
            <img src="https://i.pinimg.com/140x140_RS/76/b5/61/76b5614ff0fe474da5e285972130105a.jpg" alt="pretentious nft pic">
        <div class="card-body">
            <p class="card-text"> Ok I know this is a very basic website but for the time being just wanted a place for the essays and updates, better website soon!</p>
            <a href="#"
            class="btn btn-danger">Know more!</a>
        </div>
    </div>
    </div>

    {% endblock sidebar %}
